<h4>Post details</h4>
<p>
		<%= @row['post'] %>
		<br />
		<br />
		Added at <%= @row['created_at'] %> by <%= @row['author']%>
</p>
<br />
<h4>Comments:</h4>
<br />
<% @commentresults.each do |comment| %>
	<p>
		<%= comment['message'] %>
		<br />
		<br />
		<span style="font-size: 75%; color: #999">Added at <%= comment['created_at'] %></span>
	</p>
	<hr />
<% end %>

<p>
	<form action="/details/<%= @row['id'] %>" method="POST" role="form">
	<textarea class="form-control" rows="6" placeholder="Type comment text here!" name="comment[message]" ><%= @d.message %></textarea>
	<br />
	<button type="submit" class="btn btn-primary">Add Comment</button>
</form>


</p>